header, footer{
    background-color: aqua;
}

nav{
    background-color: chartreuse;

    
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;

}

nav li {
    padding: 5px;
}

main{
    background-color: #f9f;
}

section{
    background-color: #fcf;
}